<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <%= link_to "Show", organization_project_path(@organization, project) unless params[:action] == "show" %>
  </p>
</div>
