<%= render 'organizations/organization', organization: @organization %>

<div class="row">
  <div class="col-md-12">

    <h2 class="mb-4 mt-3">Projects</h2>

    <div id="projects">
      <%= render @projects %>
    </div>

    <%= link_to "New Project", new_organization_project_path(@organization || organization) %>

  </div>
</div>
